.businessCard {
    display: inline-block;
    margin: 50px;
    border: 2px solid #eee;
    box-shadow: 0 2px 5px #ccc;
    width: 350px;
    padding: 20px;
  }
  
  img{
    margin-top:50px;
    width:200px;
  }
  
  body{
    font-family: Arial, Helvetica, Nimbus Sans L, sans-serif;
    text-align: center;
  }
  
  .bc{
    color: #b1228c;
  }

